*{
  border: 1px solid rgba(0, 0, 0, 0.3);
}



.navigation {
	
	border-color: #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;


}

#M {
	background-color: #4aaaa5;
	float: left;
	padding: 20px;
	color: white;


}

#right {
	text-align: right;
	padding: 20px;
	margin-left: 30px;
	

}

.me {
	width: 45%;
	
}

.connect {

	width: 25%;


}


